__pycache__/
.vscode/
*.code-workspace
oauth.py
secure.py
discord.log
Indexes/
Attachments/
kaileyBirthday2020.html
TW17thBDAY.css
credentials.json
timeKeeper.html
praw.ini
access.json
venv/
ruff.toml