body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
/*body.dark {background-color: rgb(46, 46, 46); color: white;}
body.light {background-color: white; color: rgb(46, 46, 46);}*/
* {background-color: rgb(54, 57, 63); color: rgb(220, 221, 222);}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Color and Format Styling */
.blue {color: rgb(89, 89, 248); padding: 0px;}
.red {color: rgb(202, 66, 66); padding: 0px;}
.em {font-style: italic; color: inherit;}
.hidden {display: none;}

/* Dashboard General Styling */
.pageTitle {font-size: 60px}
.pageSubtitle {font-size: 50px; color: rgb(138, 203, 247);}
.center {text-align: center}
.ChooseServer {height: 200px; width: 200px; display: inline-block; font-size: 12px; margin-left: 1%; margin-right: 1%; text-align: center}
.ChooseServer:hover * {background-color: black}
#genServer *{height: 100px; background-color: rgb(202, 66, 66); line-height: 100px; width: 98%; margin: 1%}
#genServer {padding-bottom: 10px}
#antispam *, #moderation *, #cyberlog *{width: 31.3%; height: 310px; background-color: rgb(66, 66, 248); line-height: 310px; float: left; margin: 1%}
#genServer *, #antispam *, #moderation *, #cyberlog *{display: inline-block; vertical-align: middle; text-align: center; font-size: 27px; border-radius: 30px}
#antispam:hover *, #moderation:hover *, #cyberlog:hover *{background-color: rgb(51, 51, 248)}
#genServer:hover *{background-color: rgb(165, 66, 66)}
.breadcrumbs {height: 5vh;}
.breadcrumbs span {font-size: 20px; color: gray;}
.breadcrumbs a {color: gray;}
span.breadcrumbCurrent{font-size: 35px; color: white;}
a.breadcrumbCurrent {color: white;}
button:focus {outline: none;}
.flavorText {margin: 0 20%; text-align: justify;}
#loadText {margin-top: 110%; background-color: transparent; font-size: 30px;}
.loadingBar {height: 2px; width: 0%; max-width: 100%; border: none; border-radius: 5px; position: absolute; top: 0; left: 0;}
.loadingBar.blue {background-color: rgb(89, 89, 248);}
.loadingBar.red {background-color: rgb(202, 66, 66);} 

/* Form Styling */
.inputPod {display: block; margin: 1.5em; border-radius: 5px; border-left: 5px solid transparent; height: 4em; position: relative; transition: border 0.5s;}
.inputPod.tall {
  height: 14em;
}
select {padding: 10px 20px; font-size: 16px}
.multiSelect {
  height: 10em;
}
#revert {width: 20%; margin: 1.5em 15px; background-color: rgba(202, 66, 66, 0.5);}
input[type=submit] {width: 76.5%; background-color: rgba(89, 89, 248, 0.5); margin: 1.5em 1em}
input[type=submit]:focus {outline: none;}
input[type=submit], #revert {margin: 0.75%; font-size: 25px; border-radius: 25px; border: none; height: 3em; display: inline-block; transition: background-color 0.5s; cursor: pointer;}
input[type=submit]:hover {background-color: rgba(89, 89, 248, 0.85);}
#revert:hover {background-color: rgba(202, 66, 66, 0.85);}
input:not([type=submit]):not([type=checkbox]), textarea, select {padding: 0.75em 50px; width: 60%; font-size: 16.5px; color: rgb(202, 66, 66); border: 0.5px solid black; transition: border 0.5s, background-color 0.5s, color 0.15s; border-radius: 5px; height: 3.5em; box-sizing: border-box;}
input:not([type=submit]):focus, select:focus, textarea:focus {border: 1px solid darkgray; outline: none;}
input:invalid, select:invalid, textarea:invalid {border-left: 5px solid rgba(202, 66, 66, 1);}
select:disabled, input:disabled {background-color: black}
option {height: 1.5em;}
label {margin: 0 15px; height: 3.5em; font-size: 16.5px; display: inline-block; width: 20%; text-align: right;}
fieldset {border: none; margin-top: 50px;}
fieldset:not(.selected) {display: none;}
fieldset > p {
  text-align: center;
  display: block;
}
.threeDots {display: inline-block; margin-left: 3em; top: 4px; position: relative; cursor: pointer; background-color: transparent;}
.dot {display: inline-block; border: 5px solid darkgray; border-radius: 50%; transition: border 0.1s; margin: 3px;}
legend {
  text-align: center;
  font-size: 40px;
  color: rgb(220, 221, 222);
}
.switchPod > legend {
  float: right;
  transform: translateY(0.1em);
}
legend.subLegend {font-size: 20px;}
.hoverDescBox {width: 57%; background-color: transparent; z-index: 2; position: absolute; right: 20%; height: 3.5em; top: 0.4em; border-radius: 5px; display: none;}
.hoverDesc {background-color: rgb(54, 57, 63); text-align: right; width: 100%; font-size: 14px; margin: 0; vertical-align: middle; background-color: transparent;}
.inputOptions {width: 11.5%; position: absolute; right: 0.5%; top: -0.5em; background-color: rgb(24, 25, 28); height: 5em; display: none; border-radius: 10px;}
.inputOptions div {display: block; height: 2.2em; line-height: 2.2em; max-width: 100%; background-color: transparent; transition: background-color 0.5s; border-radius: 10px; z-index: 1; margin: 0.2em 0; cursor: pointer;}
.inputOptions div:hover {background-color: rgb(202, 66, 66);}
.inputOptions span {display: inline-block; height: 100%; vertical-align: middle; line-height: normal; background-color: transparent; max-width: 80%; color: rgb(185, 187, 190); padding-left: 10%; padding-top: 0.5em;}
.inputOptions img {height: 1.6em; display: inline-block; background-color: transparent; position: absolute; right: 5%; vertical-align: middle; line-height: normal; padding-top: 0.2em;}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3em; width: 100%;
  background-color: transparent;
  margin: 0;
}
.tab {
  display: inline-block;
  height: 100%;
  border-radius: 25px;
  background-color: rgb(24, 25, 28);
  color: rgb(220, 221, 222);
  cursor: pointer;
  transition: background-color 0.5s;
}
.tab:hover:not(.selected) {background-color: rgb(39, 41, 45.5);}
.tab.selected {border-radius: 25px 25px 0 0; background-color: transparent; background-image: linear-gradient(rgb(24, 25, 28), rgb(54, 57, 63)); z-index: 1;}
.tab p, .addPod span {display: inline-block; text-align: center; vertical-align: middle; background-color: transparent; width: 100%;}

.addPod {height: 3em; width: 90%; margin: 4em 5%; background-color: rgb(39, 41, 45.5); transition: background-color 0.5s; line-height: 3em; border-radius: 25px; cursor: pointer;}
.addPod:hover {background-color: rgb(24, 25, 28);}
.addPod span {width: 75%;}
.plusSign, .redX {height: 3em; width: 3em; line-height: 3em; position: relative; background-color: transparent; margin: 0 5%; display: inline-block; vertical-align: middle;}
.redX {display: block; margin: 0 1%; position: absolute; z-index: 2; cursor: pointer;}
.horizontalLine {width: 2em; height: 0.25em; background-color: rgb(220, 221, 222); margin: 0.5em; top: 0.875em; position: absolute;}
.verticalLine {width: 0.25em; height: 2em; background-color: rgb(220, 221, 222); margin: 0.5em; left: 0.875em; position: absolute;}
.horizontalLine, .verticalLine, .posSlopeLine, .negSlopeLine {border-radius: 10px;}
.posSlopeLine {transform: rotate(45deg);}
.negSlopeLine {transform: rotate(-45deg);}
.posSlopeLine, .negSlopeLine {width: 0.25em; height: 2em; background-color: rgb(202, 66, 66); margin: 0.5em; top: 0.875em; position: absolute;}
.redditFeedPod {margin: 1.5em; border-radius: 5px; transition: border 0.5s, opacity 0.5s; border: 2px solid rgb(24, 25, 28);}
.redditFeedPod .inputPod, .inputPod.twoColumn {display: inline-block; margin: 1.5em; width: 46.5%;}
.redditFeedPod label {width: 20%;}
.redditFeedPod .inputPod input, .redditFeedPod select {width: 75%;}
.inputPod.twoColumn .threeDots {position: absolute; right: 50px; top: 33%;}
.inputPod.twoColumn .hoverDescBox {right: 13%; width: 62%;}
.inputPod.twoColumn .inputOptions {right: 0; width: 22%; z-index: 1; top: -75px}

.switchPod {
  height: 4em;
  width: 37em;
  margin: 0.5em auto
}
.switch input
{
  display: none;
}

.switch 
{
  display: inline-block;
  float: left;
  width: 60px; /*=w*/
  height: 30px; /*=h*/
  transform: translateY(50%);
  position: relative;
  vertical-align: middle;
}

.slider
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before
{
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-30px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before
{
  transform: translateX(30px); /*translateX(w-h)*/
  background-color: rgb(89, 89, 248);
}

input:checked + .slider
{
  box-shadow: 0 0 0 2px rgb(89, 89, 248), 0 0 8px rgb(89, 89, 248);
}

.switch200 .slider:before
{
  width: 200%;
  transform: translateX(-82px); /*translateX(-(w-h))*/
}

.switch200 input:checked + .slider:before
{
  background-color: red;
}

.switch200 input:checked + .slider
{
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}

