body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
/*body.dark {background-color: rgb(46, 46, 46); color: white;}
body.light {background-color: white; color: rgb(46, 46, 46);}*/
* {background-color: rgb(46, 46, 46); color: white;}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



.pageTitle {font-size: 60px}
.center {text-align: center}
.ChooseServer {height: 200px; width: 200px; display: inline-block; font-size: 12px; margin-left: 1%; margin-right: 1%; text-align: center}
.ChooseServer:hover * {background-color: black}
select {padding: 10px 20px; font-size: 15px}
input[type=submit] {padding: 10px 30px; background-color: green; border-radius: 25px}
input:not([type=submit]) {padding: 10px 40px; font-size: 15px; color: rgb(202, 66, 66)}
select {color: rgb(202, 66, 66)}
select:disabled {background-color: black}
fieldset {border-color: rgb(66, 66, 248)}
#genServer *{height: 100px; background-color: rgb(202, 66, 66); line-height: 100px; width: 98%; margin: 1%}
#genServer {padding-bottom: 10px}
#antispam *, #moderation *, #cyberlog *{width: 31.3%; height: 310px; background-color: rgb(66, 66, 248); line-height: 310px; float: left; margin: 1%}
#genServer *, #antispam *, #moderation *, #cyberlog *{display: inline-block; vertical-align: middle; text-align: center; font-size: 27px; border-radius: 30px}
#antispam:hover *, #moderation:hover *, #cyberlog:hover *{background-color: rgb(51, 51, 248)}
#genServer:hover *{background-color: rgb(165, 66, 66)}

legend {text-align: center; font-size: 40px; color: rgb(202, 66, 66);}
.breadcrumbs {height: 5vh;}
.breadcrumbs span {font-size: 20px; color: gray;}
.breadcrumbs a {color: gray;}
span.breadcrumbCurrent{font-size: 35px; color: white;}
a.breadcrumbCurrent {color: white;}
