<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard: Disguard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='design.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $(".loader").fadeOut("slow");
            });
        </script>
    </head>
    <body>
        <div class='loader'>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
          </div>
        <a href="{{url_for('manageServer', id=servid)}}"><h2 class=goBack>Back</h2></a>
        <h1 class=mod-header>Cybersecurity/Logging</h1>
        <div class=mod-main>
            <form class=mod-main method="POST">
                Logging module<br><input type="radio" name="enabled" value=True {%if cyberlog.enabled%}checked{%endif%}>Enabled
                <br><input type="radio" name="enabled" value=False {%if not cyberlog.enabled%}checked{%endif%}>Disabled
                <br>Default logging channel <select name=defaultChannel><option value=None {%if not cyberlog.defaultChannel%}selected{%endif%}>--Select a channel--</option>
                {%for channel in channels%}
                    <option value={{channel.id}} {%if cyberlog.defaultChannel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                {%endfor%}
                </select>

                <fieldset>
                    <legend class=log-mod-title>Message</legend>
                    <p class=log-mod-desc>{{cyberlog.message.description}}</p>
                    Use this module? <select name=message><option value=True {%if cyberlog.message.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.message.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=messageChannel><option value=None {%if not cyberlog.message.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.message.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=messageEmbed disabled><option value=True {%if cyberlog.message.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.message.embed%}selected{%endif%}>Disabled</option></select><br>
                    Read server's audit log to send who deleted the message <select name=messageRead><option value=True {%if cyberlog.message.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.message.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=messageColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=messageAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                    Log images that are deleted <select name=imageLogging><option value=True {%if cyberlog.image%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.image%}selected{%endif%}>Disabled</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Doorguard</legend>
                    <p class=log-mod-desc>{{cyberlog.doorguard.description}}</p>
                    Use this module? <select name=doorguard><option value=True {%if cyberlog.doorguard.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.doorguard.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=doorChannel><option value=None {%if not cyberlog.doorguard.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.doorguard.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=doorEmbed disabled><option value=True {%if cyberlog.doorguard.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.doorguard.embed%}selected{%endif%}>Disabled</option></select><br>
                    Read server's audit log to send who kicked/banned/unbanned member <select name=doorRead><option value=True {%if cyberlog.doorguard.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.doorguard.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=doorColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=doorAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Server</legend>
                    <p class=log-mod-desc>{{cyberlog.server.description}}</p>
                    Use this module? <select name=server><option value=True {%if cyberlog.server.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.server.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=serverChannel><option value=None {%if not cyberlog.server.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.server.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=serverEmbed disabled><option value=True {%if cyberlog.server.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.server.embed%}selected{%endif%}>Disabled</option></select><br>
                    Read server's audit log to send who edited the server <select name=serverRead><option value=True {%if cyberlog.server.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.server.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=serverColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=serverAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Channel</legend>
                    <p class=log-mod-desc>{{cyberlog.channel.description}}</p>
                    Use this module? <select name=channel><option value=True {%if cyberlog.channel.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.channel.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=channelChannel><option value=None {%if not cyberlog.channel.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.channel.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=channelEmbed disabled><option value=True {%if cyberlog.channel.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.channel.embed%}selected{%endif%}>Disabled</option></select><br>
                    Read server's audit log to send who created/edited/deleted the channel <select name=channelRead><option value=True {%if cyberlog.channel.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.channel.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=channelColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=channelAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Member</legend>
                    <p class=log-mod-desc>{{cyberlog.member.description}}</p>
                    Use this module? <select name=member><option value=True {%if cyberlog.member.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.member.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=memberChannel><option value=None {%if not cyberlog.member.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.member.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=memberEmbed disabled><option value=True {%if cyberlog.member.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.member.embed%}selected{%endif%}>Disabled</option></select><br>
                    Read server's audit log to send who edited the member <select name=memberRead><option value=True {%if cyberlog.member.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.member.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=memberColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=memberAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Role</legend>
                    <p class=log-mod-desc>{{cyberlog.role.description}}</p>
                    Use this module? <select name=role><option value=True {%if cyberlog.role.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.role.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=roleChannel><option value=None {%if not cyberlog.role.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.role.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=roleEmbed disabled><option value=True {%if cyberlog.role.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.role.embed%}selected{%endif%}>Disabled</option></select><br>
                    Read server's audit log to send who created, edited, deleted the role <select name=roleRead><option value=True {%if cyberlog.role.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.role.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=roleColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=roleAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Emoji</legend>
                    <p class=log-mod-desc>{{cyberlog.emoji.description}}</p>
                    Use this module? <select name=emoji><option value=True {%if cyberlog.emoji.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.emoji.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=emojiChannel><option value=None {%if not cyberlog.emoji.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.emoji.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=emojiEmbed disabled><option value=True {%if cyberlog.emoji.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.emoji.embed%}selected{%endif%}>Disabled</option></select><br>
                    Read server's audit log to send who created, edited, deleted the emoji <select name=emojiRead><option value=True {%if cyberlog.emoji.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.emoji.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=emojiColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=emojiAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Voice</legend>
                    <p class=log-mod-desc>{{cyberlog.voice.description}}</p>
                    Use this module? <select name=voice><option value=True {%if cyberlog.voice.enabled%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.voice.enabled%}selected{%endif%}>Disabled</option></select><br>
                    Overwrite default log channel <select name=voiceChannel><option value=None {%if not cyberlog.voice.channel%}selected{%endif%}>(Disabled)</option>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if cyberlog.voice.channel==channel.id%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select><br>
                    Send this module's logs in embed form <select name=voiceEmbed disabled><option value=True {%if cyberlog.voice.embed%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.voice.embed%}selected{%endif%}>Disabled</option></select><br>
                    Only log moderator enforced mutes/deafens <select name=voiceRead><option value=True {%if cyberlog.voice.read%}selected{%endif%}>Enabled</option><option value=False {%if not cyberlog.voice.read%}selected{%endif%}>Disabled</option></select><br>
                    Custom embed color <select name=voiceColor disabled><option value=None selected>Currently N/A</option></select><br>
                    Use advanced embed viewer mode <select name=voiceAdvanced disabled><option value=False selected>Currently N/A</option></select><br>
                </fieldset>

                <fieldset>
                    <legend class=log-mod-title>Exclusions</legend>
                    <p class=log-mod-desc>Don't send message edit/delete logs if they match variables in this category<br>Ctrl + click to remove an entry or select multiple entries</p>
                    <br><br><br>Channels: <select name="channelExclusions" multiple>
                    {%for channel in channels%}
                        <option value={{channel.id}} {%if channel.id in cyberlog.channelExclusions%}selected{%endif%}>{{channel.name}}</option>
                    {%endfor%}
                    </select>
                    <br><br><br>Roles: <select name="roleExclusions" multiple>
                    {%for role in roles%}
                        <option value={{role.id}} {%if role.id in cyberlog.roleExclusions%}selected{%endif%}>{{role.name}}</option>
                    {%endfor%}
                    </select>
                    <br><br><br>Members: <select name="memberExclusions" multiple>
                    {%for member in members%}
                        <option value={{member.id}} {%if member.id in cyberlog.memberExclusions%}selected{%endif%}>{{member.name}}</option>
                    {%endfor%}
                    </select>
                </fieldset>

                <input type="submit" value="Save">
            </form>
            </div>
        </div>
