<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard: Disguard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='design.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $(".loader").fadeOut("slow");
            });
        </script>
    </head>
    <body>
        <div class='loader'>
            <div class="bg"></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
        <h3>Welcome, {{user}}!</h3>
        <h5>Improvements were recently made to the layout here. Please let me know your feedback! :)</h5>
        <p class=pageTitle>Click on a server image or link to manage your server.</p>
        {% for server in servers %}
            <div class="ChooseServer">
                <a href="{{url_for('manageServer', id=server.server_id)}}">
                    <img class=ChooseServerIcon src={{ server.thumbnail }} alt={{server.name}} height="200" width="200">
                    <p>{{ server.name }}</p>
                </a>
            </div>
        {% endfor %}
    </body>
</html>