<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard: Disguard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='design.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $(".loader").fadeOut("slow");
            });
        </script>
    </head>
    <body>
        <div class='loader'>
            <div class="bg"></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
        <a href="{{url_for('index')}}"><h2 class=goBack>Select a server</h2></a>
        <p class="pageTitle center">Choose a module</p>
        <a href="{{url_for('server', id=server)}}">
            <div id=genServer>
                <p>General server settings</p>
            </div>
        </a>
        <a href="{{url_for('antispam', id=server)}}">
            <div id=antispam>
                <p>Antispam</p>
            </div>
        </a>
        <a href="{{url_for('moderation', id=server)}}">
            <div id=moderation>
                <p>Moderation</p>
            </div>
        </a>
        <a href="{{url_for('cyberlog', id=server)}}">
            <div id=cyberlog>
                <p>Logging</p>
            </div>
        </a>
    </body>