<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard: Disguard</title>
        {%if redesign%}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='design.css') }}">
        {%else%}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='oldCss.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='oldDesign.css') }}">
        {%endif%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $(".loader").fadeOut("slow");
            });
        </script>
    </head>
    <body>
        <div class='loader'>
            <div class="bg"></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
        <div class=breadcrumbs>
            {%for breadcrumb in breadcrumbs%}
                <a {%if loop.last%}class=breadcrumbCurrent{%endif%} href='{{breadcrumb.url}}'><span {%if loop.last%}class=breadcrumbCurrent{%endif%}>{{breadcrumb.text}}</span></a>
                {{'>' if not loop.last}}
            {%endfor%}
        </div>
        <p class="pageTitle center">Choose a module</p>
        <a href="{{url_for('server', id=server)}}">
            <div id=genServer>
                <p>General server settings</p>
            </div>
        </a>
        <a href="{{url_for('antispam', id=server)}}">
            <div id=antispam>
                <p>Antispam</p>
            </div>
        </a>
        <a href="{{url_for('moderation', id=server)}}">
            <div id=moderation>
                <p>Moderation</p>
            </div>
        </a>
        <a href="{{url_for('cyberlog', id=server)}}">
            <div id=cyberlog>
                <p>Logging</p>
            </div>
        </a>
    </body>